$prefix: "../../img/";
$bg__about-img: 
    $prefix+"about/about-s1.jpg",
    $prefix+"about/about-s2.jpg", 
    $prefix+"about/about-s3.jpg";
$bg__coming-img: $prefix+"/comingsoon.jpg";
$bg__contact-img: 
    $prefix+"contact/contact-s1.jpg",
    $prefix+"contact/contact-s2.jpg",
    $prefix+"contact/contact-s3.jpg"; 
$bg__error-img: $prefix+"error.jpg";
$bg__index-img: $prefix+"index/index-s1.jpg"; 
$bg__privacy-img: $prefix+"privacy.jpg";
$bg__services-img: 
    $prefix+"services/services-s1.jpg",
    "",
    $prefix+"services/services-s3.jpg";
$bg__user-img: $prefix+"user/user-s1.jpg"; 
$bg__init:
    "about",
    "comingsoon",
    "contact",
    "error",
    "index",
    "privacy",
    "services",
    "user";
$classes_init:
    $bg__about-img,
    $bg__coming-img,
    $bg__contact-img, 
    $bg__error-img,
    $bg__index-img, 
    $bg__privacy-img,
    $bg__services-img,
    $bg__user-img;
$color__shadow: #333;
$footer-height: 41px;
$text-shadow: 1px 1px 3px $color__shadow; 